<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DataDrivenBasics">
	<listeners>
		<listener class-name="com.w2a.listeners.CustomListener" />
	</listeners>
	<test name="Bank Manager Login Test">
		<classes>
			<class name="com.w2a.testcases.BankManagerLoginTest" />
		</classes>
	</test>
	<!--  <test name="Add Customer Test">
		<classes>
			<class name="com.w2a.testcases.AddCustomerTest" />
		</classes>
	</test>
	<test name="Open Customer Test">
		<classes>
			<class name="com.w2a.testcases.OpenCustomerTest" />
		</classes>
	</test> -->

</suite> 
